/*
 * Copyright (c) 2020 duckyb
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

// Layer definitions
#define DEFAULT 0
#define NAV 1
#define SYM 2
#define EXTRA 3
#define FUN 4
#define ES 5
#define MSE 6
#define MED 7
// -----------------

&sk {
	// don't release mods on other mods presses
	ignore-modifiers;
};


/ {
	behaviors {
		// Enables holding the first mod-tap key
		// by performing a tap-release-hold sequence.
		// To use it: "&qt KEYCODE1 KEYCODE2"
		/* qt: quick_tap {
			compatible = "zmk,behavior-hold-tap";
			label = "QUICK_TAP";
			#binding-cells = <2>;
			flavor = "hold-preferred";
			tapping-term-ms = <200>;
			quick-tap-ms = <200>;
			bindings = <&kp>, <&kp>;
		}; */
        bhm: balanced_homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;    // <---[[moderate duration]]
            quick-tap-ms = <0>;
            flavor = "balanced";
            bindings = <&kp>, <&kp>;
        };
	};

	macros {
		// sometimes my device thinks a modifier is being held down
		// pressing all modifiers fixes it.
		unstick: unstick {
			label = "ZM_unstick";
			compatible = "zmk,behavior-macro";
			#binding-cells = <0>;
			bindings = <&kp LSHIFT &kp RSHIFT &kp LCTRL &kp RCTRL &kp LALT &kp RALT &kp LGUI &kp RGUI>;
		};
	};

	// combos {
	// 	compatible = "zmk,combos";
	// 	// both right thumb keys
	// 	combo_accent {
	// 		timeout-ms = <200>;
	// 		key-positions = <32 33>;
	// 		bindings = <&mo ACCENT>;
	// 	};
	// 	// internal-left & external-right thumb keys
	// 	combo_sym2 {
	// 		timeout-ms = <200>;
	// 		key-positions = <31 33>;
	// 		bindings = <&mo SYM2>;
	// 	};
	// 	// both left thumb keys
	// 	combo_settings {
	// 		timeout-ms = <200>;
	// 		key-positions = <30 31>;
	// 		bindings = <&mo SETTINGS>;
	// 	};
	// 	// left index & middle fingers (home-row)
	// 	// hold control & space for Adobe workflow
	// 	combo_ctrl_space {
	// 		timeout-ms = <200>;
	// 		key-positions = <12 13>;
	// 		bindings = <&kp LC(SPACE)>;
	// 		layers = <BASE>;
	// 	};
	// };

	keymap {
		compatible = "zmk,keymap";
		// Base alpha layer
		default_layer {
			label = "Base";
             bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│  Q       │  W       │  E       │  R       │  T       │   │  Y       │  U       │  I       │  O       │  P       │
            &kp Q      &kp W      &kp E      &kp R      &kp T          &kp Y      &kp U      &kp I      &kp O      &kp P
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  A       │  S       │  D       │  F       │  G       │   │  H       │  J       │  K       │  L       │  Ö       │
    &kp A     &bhm LEFT_GUI S     &bhm LEFT_CONTROL D  &bhm LEFT_SHIFT F &kp G &kp H  &bhm RIGHT_SHIFT J     &bhm RIGHT_CONTROL K &bhm RIGHT_GUI L  &kp SEMICOLON
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  Z       │  X       │  C       │  V       │  B       │   │  N       │  M       │ , <      │ . >      │ _        │
             &kp Z    &kp X       &kp C      &kp V      &kp B          &kp N   &kp M   &bhm LEFT_ALT COMMA  &kp DOT    &kp SLASH
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┴──────────╯
                                        &lt NAV ESC &lt EXTRA SPACE     &lt SYM ENTER &kp BSPC
        //                      ╰──────────┴──────────┴──────────╯   ╰──────────┴──────────┴──────────╯
            >;
		};

		nav_layer {
			label = "Nav.";
             bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│  1       │  2       │  3       │  4       │  5       │   │  6       │  7       │  8       │  9       │  0       │
            &kp N1      &kp N2    &kp N3   &kp N4      &kp N5          &kp N6      &kp N7    &kp N8      &kp N9     &kp N0
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  A       │  S       │  D       │  F       │  G       │   │  H       │  J       │  K       │  L       │BACKSPACE │
            &kp F1      &kp F2   &kp F3       &kp F4     &kp F5         &kp LEFT   &kp DOWN   &kp UP     &kp RIGHT &kp BSPC
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  Z       │  X       │  C       │  V       │  B       │   │  N       │  M       │ , <      │ . >      │ ENTER    │
            &kp F6      &kp F7     &kp F8     &kp F9     &kp F10        &kp F11    &kp F12 &kp LS(COMMA) &kp LS(DOT) &kp LS(SLASH)
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┴──────────╯
                                            &trans    &trans            &kp LS(BACKSLASH) &kp DEL
        //                      ╰──────────┴──────────┴──────────╯   ╰──────────┴──────────┴──────────╯
            >;
		};

		sym_layer {
			label = "Sym.";
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│  Q       │  W       │  E       │  R       │  T       │   │  Y       │  U       │  I       │  O       │  P       │
            &kp LS(N1) &kp LS(N2) &kp LS(N3) &kp LS(N4) &kp LS(N5)    &kp LS(N6) &kp LS(N7) &kp LS(N8)  &kp LS(N9) &kp LS(N0)
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  A       │  S       │  D       │  F       │  G       │   │  H       │  J       │  K       │  L       │          │
            &kp RA(N1) &kp RA(N2) &kp RA(N3) &kp RA(N4) &kp RA(N5)    &kp LS(MINUS) &kp RA(N7) &kp RA(N8) &kp RA(N9) &kp RA(N0)
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  Z       │  X       │  C       │  V       │  B       │   │  N       │  M       │ , <      │ . >      │ ENTER    │
 &kp NON_US_BSLH &kp LS(NON_US_BSLH) &kp RA(NON_US_BSLH) &kp LS(RIGHT_BRACKET) &kp LS(EQUAL) &kp RA(BACKSLASH) &kp M &kp LS(COMMA) &kp LS(DOT) &kp LS(SLASH)

        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┴──────────╯
                                             &kp LS(TAB) &kp TAB      &trans      &trans
        //                      ╰──────────┴──────────┴──────────╯   ╰──────────┴──────────┴──────────╯
            >;
		};

		extra_layer {
			label = "EXT.";
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│  Q       │  W       │  E       │  R       │  T       │   │  Y       │  U       │  I       │  O       │  Å       │
            &bt BT_CLR  &bt BT_PRV &bt BT_NXT &kp R &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4 &kp LEFT_BRACKET
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  A       │  S       │  D       │  F       │  G       │   │  H       │  J       │  K       │  L       │  Ä       │
      &bootloader   &kp S &kp LS(BACKSLASH) &kp BACKSLASH &kp G   &kp H     &kp LS(MINUS) &kp MINUS &kp L   &kp SINGLE_QUOTE
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  Z       │  X       │  C       │  V       │  B       │   │  N       │  M       │ , <      │ . >      │ ENTER    │
   &out OUT_TOG &out OUT_BLE &kp C    &kp V   &kp RA(RIGHT_BRACKET)  &kp LS(BACKSLASH) &kp BACKSLASH &kp LS(COMMA) &kp LS(DOT) &kp LS(SLASH)
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┴──────────╯
                                            &trans     &trans          &trans    &bootloader
        //                      ╰──────────┴──────────┴──────────╯   ╰──────────┴──────────┴──────────╯
            >;
		};
	};
};
